## [Start] Setting "type" to default value of "Issue". **
$util.qr($context.args.input.put("type", $util.defaultIfNull($ctx.args.input.type, "Issue")))
## [End] Setting "type" to default value of "Issue". **
{}