.bold {
    font-weight: 900;
}

.toFrom {
    overflow: hidden;
    height: 30px;
}

.messageRow:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.bodyList {
    padding-top: 2px;
    overflow: hidden;
    height: 24px;
    line-height: normal;
}

.back:hover {
    cursor: pointer;
}

.messageDetail {
    overflow: scroll;
}


.messageDetailBody {
    max-width: 80%;
    overflow: scroll;
}